<html>

<head>
	<title>
		<%= title %>
	</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<div class="header">
		<a href="/">Home</a> |
		<a href="/users/add">Add New User</a> |
		<a href="/users">All Users List</a>
	</div>
	<h1 class="title">
		<%= title %>
	</h1>